body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
	height: 400px;
	width: 300px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom : 0;
}
.ready_button {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 30px;
}
.loading_message {
	color: #ffffff;
	padding: 10px 0;
}
canvas {
	background: black!important;
}
